{{! Skill Display }}
<section
    class="tab {{tab.cssClass}}"
    data-group="primary"
    data-tab="properties"
>
    {{! As we need more fields, add them in here }}
    {{! Boilerplate includes spell level calc here, left out for TD }}
</section>